.navbar {
		margin-bottom:0;
		border-radius:0;
		background-color: #000;
		color: #FFF;
		padding: 1% 0;
		font-size: 1.2em;
		border:0;
		}
	.navbar-brand {
		float: left;
		min-height: 55px;
		padding: 0 15px 5px;
		}
		
	
	.carousel-caption {
		top: 30%;
		transform: translate(-50%)
	}
	.abt {
		background-color: #000;
	border-style: solid;
	color: white;
	font-family: 'Inconsolata', monospace;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 8px;
	margin-top: 50%;
	
	}
	
@media {max-width: 600px} {
	.carousel-caption {
		display: none;
	}
}

	#icon {
		max-width: 200px;
		margin: 1% auto;
	}
	
	.hoverContainer > img:hover {
  width: 200%;
  height: 200%;
}
	
h1 {
	font-family: 'domine',serif;
	font-style: bold;
	font-size: 550%;
	color: #000;
	
	float: left;
}

h2{
	font-family: 'Inconsolata', monospace;
	font-size: 200%;
	float: left;
}

h3 {
	font-family: 'Inconsolata', monospace;
	font-size: 120%;
	font-style: bold;
}
h4 {
	font-family: 'Dosis', sans-serif;
	font-size: 120%;
	font-style: bold;
	

	margin: 5%;
	
	padding: 20px;
	border-radius: 60px;
}
h5{
	font-family: 'Inconsolata', monospace;
	font-size: 90%;
}
.highlight {
	background-color: #ffffcc;
	border-style: none;
}

.column-mean {
    float: right;
    width: 50%;
	margin-right: 5%;
	margin-top: 5%;
}
.image-container1{
	 display: block;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	padding: 3px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.collab-intro{
	margin-left: 5%;
	margin-top: 5%;
}
.collab {
	background-color: 	#fff;
	color: #000;
	padding: 3%;
}


.container {
	padding: 3px;
	width: 100%;
}
.container2 {
	padding: 3px;
	width: 100%;
}
.container1 {

	padding: 3px;
	width: 100%;
}

footer {
		width: 100%;
		background-color: white;
		padding: 3%;
		color: black;
		
}
.fa {
	padding: 15px;
	font-size: 30px;
	color: #FFF;
}
.fa:hover {
	color: #d5d5d5;
	text-decoration: none;
	font-style: bold;
}

.float {
	float: left;
}

.accordion {
    background-color: ##ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
	font-family: 'Inconsolata', monospace;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #Fff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
	
	@media (max-width: 600px) {
		
		
		#icon {
			max-width: 150px;
			
		}
		h2{
			font-size: 1.7em;
		}
		.column {
        width: 100%;
		}
		.carousel-caption {
			display: hidden;
		}
	}
	
	
	#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Style the Image Used to Trigger the Modal */
#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Style the Image Used to Trigger the Modal */
#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}